# For the iCESugar Board (iCE40UP5K-QFN48)

#set_io LED_G 41
#set_io LED_R 40
#set_io LED_B 39

#set_io SW[0] 18
#set_io SW[1] 19
#set_io SW[2] 20
#set_io SW[3] 21

set_io clk 35

#set_io RX 4
#set_io TX 6

#set_io USB_DP       10
#set_io USB_DN       9
#set_io USB_PULLUP   11

# PMOD 1
#set_io PM1[0] 10
#set_io PM1[1] 6
#set_io PM1[2] 3
#set_io PM1[3] 48
#set_io PM1[4] 47
#set_io PM1[5] 2
#set_io PM1[6] 4
#set_io PM1[7] 9

# PMOD 2
#set_io PM2[0] 46
#set_io PM2[1] 44
#set_io PM2[2] 42
#set_io PM2[3] 37
#set_io PM2[4] 36 
#set_io PM2[5] 38
#set_io PM2[6] 43
#set_io PM2[7] 45

# PMOD 3
set_io PM3[0] 34 
set_io PM3[1] 31
set_io PM3[2] 27
set_io PM3[3] 25
#set_io PM3[4] 23
#set_io PM3[5] 26
#set_io PM3[6] 28
#set_io PM3[7] 32

# PMOD 4
set_io PM4[0] 21
set_io PM4[1] 20
set_io PM4[2] 19
#set_io PM4[3] 18

# SPI
#set_io SPI_SS   16
#set_io SPI_SCK  15
#set_io SPI_MOSI 17
#set_io SPI_MISO 14